.inner{
  &-banner{
  background-repeat: repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 90px 0 50px;
    &:before{
      background-color: rgba(255, 255, 255, 0.9);
      content: " ";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }
  }
  &-content{
    padding: 40px 0;
    &__main-heading{
      
    }
  }
}